.root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  justify-items: center;
  position: relative;
}

.winStatus {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 300px;
  height: 100%;
  background: rgba(255, 255, 255, .9);
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.again {
  margin: .5rem 0;
  font-size: 1rem;
}

.square {
  display: grid;
  grid-template-columns: 3rem 3rem 3rem;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border: 1px solid black;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
  }
}

.props {
  display: grid;
  grid-gap: .5rem;
  align-content: start;
}

@media all and (max-width: 768px) {
  .root {
    grid-template-columns: 1fr;
  }
}
